# Ignore system files
.DS_Store
Thumbs.db

# Ignore build/output files
dist/
build/

# Ignore dependencies
node_modules/

# Ignore logs and temp files
*.log
*.tmp

# Ignore environment files
.env

stuff/



config.py
__pycache__/